*.gem
*.rbc
*.swp
*~
.DS_Store
.bundle/
.config
.ruby-version
.ruby-gemset
.sass-cache
.yardoc
InstalledFiles
_site/
_yardoc
bbin/
coverage
doc/
gh-pages/
lib/bundler/man
node_modules/
pkg/
rdoc
site/_site/
spec/reports
test/dest
test/tmp
test/version_tmp
tmp
*.gems
